<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jon Petter Wiig</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-tabs" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons" aria-hidden="true">home</span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cybersec">
                <span class="material-icons" aria-hidden="true">fingerprint</span> Cybersec
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cv">
                <span class="material-icons" aria-hidden="true">work</span> CV
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whoami">
                <span class="material-icons" aria-hidden="true">terminal</span> whoami?
            </NavLink>
        </div>
    </nav>
</div>