<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jon Petter Wiig</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

    <div class="nav-tabs" onclick="document.querySelector('.navbar-toggler').click()">
 
        <MudNavMenu>
                <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="material-icons" aria-hidden="true">home</span> Home
                </MudNavLink>
                <MudNavLink class="nav-link" href="cybersec">
                    <span class="material-icons" aria-hidden="true">fingerprint</span> Cybersec
                </MudNavLink>
            
            <MudNavLink class="nav-link" href="cv">
                    <span class="material-icons" aria-hidden="true">work</span> CV
                </MudNavLink>
                <MudNavLink class="nav-link" href="whoami">
                    <span class="material-icons" aria-hidden="true">terminal</span> whoami?
                </MudNavLink>
                <MudNavLink class="nav-link" href="technologiesbehind">
                    <span class="material-icons" aria-hidden="true">handyman</span>Behind the scenes
                </MudNavLink>
        </MudNavMenu>
</div>