@page "/cybersec"
@using System.Text.Json
@using Newtonsoft.Json.Linq
@inject IHttpClientFactory ClientFactory

<body>
<h3>CyberSec</h3>
security is such cool
</body>
<!-- TODO: event Timeline for CVE -->

<MudPaper>
    <MudText>CVE severity </MudText>
    @if (err)
    {
        <MudAlert Severity="Severity.Error"> error loading the external API, please let the creator know</MudAlert>
    }
    else if (cveTest == null)
    {
        <MudProgressCircular>loading...</MudProgressCircular>
    } else
    {
        @foreach (var cv in cveTest)
        {
            <MudText>cv</MudText>
        }
    }
  
</MudPaper>

@code {

    //add api calls to this 
    private IEnumerable<Dictionary<String, object>>? cveTest = [];
    bool err = false; 
    protected override async Task OnInitializedAsync()
    {
        var req = new HttpRequestMessage(HttpMethod.Get, "https://services.nvd.nist.gov/rest/json/cves/2.0");
        req.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var res = await client.SendAsync(req);
        if (res.IsSuccessStatusCode)
        {
           // Console.WriteLine("OK babaush");
            var responseStream = await res.Content.ReadAsStreamAsync(); 
            cveTest = await JsonSerializer.DeserializeAsync<IEnumerable<Dictionary<String, object>>>(responseStream);
        }
        else
        {
            err = true;
        }
    }

}
}