@page "/cybersec"
@using System.Collections
@using System.Reflection.Metadata
@using System.Text.Json
@using BlazorApp1.models.DTO
@using BlazorApp1.models.gen
@using MudBlazor.Extensions
@using Newtonsoft.Json.Linq
@inject IHttpClientFactory ClientFactory

<body>
<h3>CyberSec</h3>
security is such cool
</body>
<!-- TODO: event Timeline for CVE -->

<MudPaper Elevation="0" Square="true">
    <MudText>CVE severity </MudText>
    <MudAlert Severity="Severity.Info">Please note: i am working on my own CVE search, and i as i have not figured it quite out right now, you will se a error, this due to a gigantic object that i hope to fix soon!</MudAlert>
    @if (err || vuln is null)
    {
        <MudAlert Severity="Severity.Error"> error loading the external API, please let the creator know</MudAlert>
    }
    else
    {
            @foreach (var feed in cve.Vulnarbilities.ToList())
            {
                @feed.Cve
            }
        

    }
  
</MudPaper>

@code {

    //add api calls to this 
    public CVEdto? cve = new CVEdto();
    public Vulnerabilities[] arr = [];
    public List<Vulnerabilities> vuln = [];
    bool err = false;
    bool load = false; 
    protected override async Task OnInitializedAsync()
    {
        var req = new HttpRequestMessage(HttpMethod.Get, "https://services.nvd.nist.gov/rest/json/cves/2.0/?resultsPerPage=25");
        req.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();
        var res = await client.SendAsync(req);
        if (res.IsSuccessStatusCode)
        {
    
            var responseStream = await res.Content.ReadAsStreamAsync(); 
            cve = await JsonSerializer.DeserializeAsync<CVEdto>(responseStream);
            Console.WriteLine(responseStream);
            Console.WriteLine($"OK babaush {cve}");
            load = true; 
        }
        else
        {
            err = true;
        }
    }

}
}