@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Code world!</h1>

<h2>Welcome to jpwiig.dev!</h2>

<p>This is my personal home page i made as a side project</p>

<h3>on this site there is</h3>
<ul>
    <li>A little CV</li>
    <li>A lot of cyber security and other technology stuff</li>
    <li>Personal work</li>
    <li>Some cool implemtentations of API's?</li>
    <li>A blog where i can complain about things that are and are not important</li>
    <li>Me showing off cool things that i build as this website as a base</li>
</ul>

<p>This website is built with Web Assembly and blazor pages with some fancy C# and mudblazor, a page with technologies will be added in the future</p>