@page "/"

<PageTitle>Home</PageTitle>


<MudGrid Justify="Justify.Center" Class="pt-2" Spacing="2">
    <MudItem xs="12" sm="10" lg="10">
        <MudPaper Class="d-flex justify-center" Elevation="0" Square="true">
            <MudText Typo="Typo.h1">Welcome to jpwiig.dev!</MudText>
        </MudPaper>
        <MudPaper Elevation="0" Square="true">
            <MudText>
                This is my personal home page i made as a side project as my own personal corner of the internet. I am a computer science student from Norway who likes to work with many different kinds of projects. Most of them are within information technology space. This website is used to learn some new epic tech, as well as some old tech that i allready have some experience with. To get to know me better, please enter the <a href="/whoami">whoami</a> page. 
                I am currently looking for a summer job and are persuing a Master of Science in Cyber Security.
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="5" lg="5">
        <MudPaper Class="align-center" Elevation="0" Square="true">
            <MudText>On this site there is</MudText>
            <MudList T="string">
                <MudListItem>A place to show off my skills in different ways</MudListItem>
                <MudListItem>A lot of cyber security and other technology stuff</MudListItem>
                <MudListItem>Some cool implemtentations of API's?</MudListItem>
                <MudListItem>A blog where i can complain about things that are and are not important</MudListItem>
                <MudListItem>Me showing off cool things that i build as this website as a base</MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" sm="5" lg="5">
        <MudPaper Elevation="0" Square="true">
            <MudText>This website is built with Web Assembly and blazor pages with some fancy C# and mudblazor, a page with technologies will be added in the future. This website will never be finished, as this is where i want to do almost everything. Think of this website of a big collection of things i am doing all the time. Other than that, please feel free to explore my page. And all the fun things that i have done, and what i am doing.</MudText>
            <MudText>I have tried to create a blog where i will vent when it is nessitary, sometimes venting about the world, sometimes about other tings. Hope to see you there. Check out the site <a href="https://kaboom.jpwiig.dev">here</a>! </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>