@page "/"

<PageTitle>Home</PageTitle>



<MudGrid Spacing="1">
    <MudItem xs="12" sm="10" lg="10">
        <MudPaper Class="d-flex align-center">
            <MudText Typo="Typo.h1">Hello, Code world!</MudText>
            <MudText Typo="Typo.h2">Welcome to jpwiig.dev!</MudText>
            <MudText>
                This is my personal home page i made as a side project as my own personal corner of the internet
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="5" sm="5" lg="5">
        <MudPaper Class="d-flex align-center">
            <MudText>On this site there is</MudText>
            <MudList Clickable="true">
                <MudListItem>A little CV</MudListItem>
                <MudListItem>A lot of cyber security and other technology stuff</MudListItem>
                <MudListItem>Personal work</MudListItem>
                <MudListItem>Some cool implemtentations of API's?</MudListItem>
                <MudListItem>A blog where i can complain about things that are and are not important</MudListItem>
                <MudListItem>Me showing off cool things that i build as this website as a base</MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>
    <MudItem xs="5" sm="5" lg="5">
    <MudPaper Class="d-flex align-center">
        <!--Todo: MudTimeLine-->
        <MudText Typo="Typo.subtitle1">A timeline of this website</MudText>
        <MudSpacer/>
        <MudTimeline>

            <MudTimelineItem>
                <MudText>Hello World</MudText>
            </MudTimelineItem>
            <MudTimelineItem>
                <MudText>Figure out where things go</MudText>
            </MudTimelineItem>
            <MudTimelineItem>
                <MudText>Build & deploy</MudText>
            </MudTimelineItem>
            <MudTimelineItem>
                <MudText>
                    Publish on my own domain
                </MudText>
            </MudTimelineItem>
        </MudTimeline>
    </MudPaper>
    </MudItem>
    </MudGrid>
<p>This website is built with Web Assembly and blazor pages with some fancy C# and mudblazor, a page with technologies will be added in the future</p>