@page "/technologiesbehind"
<MudPaper>
<MudText Typo="Typo.h1"></MudText>
</MudPaper>
<MudPaper>
    <MudText Typo="Typo.h2">
        Why blazor and web assembly?
    </MudText>
    <MudSpacer/>
    <MudText>When i started this project i wanted to have a new way to learn a new way to develop for the web. Webassembly is somthing that has intgruided me a while, so i decided that this was the perfect oppurtunity to learn it, so here we are. I have already snooked a bit with using razor pages and C#, so this seems like the next step. This page is meant for me to have some fun, and explain why i did what i did on this page</MudText>
</MudPaper>
<MudPaper>
    <MudText Typo="Typo.h2">
        The nerdy things
    </MudText>
</MudPaper>
<MudPaper><MudText Typo="Typo.h2">
    Deploying in many ways. 
</MudText></MudPaper>
<MudPaper>
    <MudText Typo="Typo.h2">It is always dns, if it is not dns, it is dns</MudText>
</MudPaper>
<MudAlert Severity="Severity.Info">
    If you see anything on this site, please open a Issue in the <a href="https://github.com/jpwiig/jpwiig.dev/issues"><u>github repository</u></a>, and will take a look as fast as i can!
</MudAlert>
@code { 
}