@page "/technologiesbehind"
<MudPaper Elevation="0" Square="true">
    <MudText Typo="Typo.h1"> A world without insight is a world without fun</MudText>
</MudPaper>
<MudPaper Elevation="0" Square="true">
    <MudText Typo="Typo.h2">
        Why blazor and web assembly?
    </MudText>
    <MudSpacer/>
    <MudText>When i started this project i wanted to have a new way to learn a new way to develop for the web. Webassembly is somthing that has intgruided me a while, so i decided that this was the perfect oppurtunity to learn it, so here we are. I have already snooked a bit with using razor pages and C#, so this seems like the next step. This page is meant for me to have some fun, and explain why i did what i did on this page</MudText>
</MudPaper>
<MudPaper>
    <MudText Typo="Typo.h2">
        The nerdy things
    </MudText>
    <MudText>
        One of the biggest drawback of web assembly is that is very slow, so i will continously try to optimize this website as i see fit, under you can see what i have done: 
    </MudText>
    <MudList T="string">
        <MudListItem>Removed CDN where possible</MudListItem>
        <MudListItem>Trying to remove unused CSS where possible (as removing entire libaries that are not in use)</MudListItem>
        <MudListItem>Optimize Items</MudListItem>
    </MudList>
    <MudText>As of most places have ok - connection, then mostly for the user experience, and it is actually kinda fun</MudText>
</MudPaper>
<MudPaper Elevation="0" Square="true"><MudText Typo="Typo.h2">
    Deploying in many ways. 
</MudText>
<MudText>As webassembly compiles to a static website in this context, i could have used many differents ways to deploy the initial static website, so i decided to use Cloudflare pages, but as long as it can use a build script i should be good! But i like to have things in one place</MudText>
</MudPaper>

<MudAlert Severity="Severity.Info">
    If you see anything on this site, please open a Issue in the <a href="https://github.com/jpwiig/jpwiig.dev/issues"><u>github repository</u></a>, and will take a look as fast as i can!
</MudAlert>
@code { 
}