@page "/technologiesbehind"
<MudGrid Justify="Justify.FlexStart" Class="pl-6 " Spacing="6">
<MudItem xs="12" lg="6" xl="6" >
    <MudText Typo="Typo.h2">
        Why blazor and web assembly?
    </MudText>
    <MudSpacer/>
    <MudText Typo="Typo.body1">When i started this project i wanted to have a new way to learn a new way to develop for the web.I have liked the idea of Webassembly, so i decided that this was the perfect opportunity to learn it, so here we are. I have already tried to use a bit razor pages and C# (and really liked it), so this seems like the next step. This page is meant for me to have some fun!
        I cloud have used differnt kinds of languages, like javascript and typescript. Sometimes is important to just be a bit different. A Website made with some fancy pants framework is all good and fun, but i feel like it can be a bit repetitve and a bit the same. Sometimes it gives a "youtube torturial" vibes. I have nothing against it, but it is simply not my style. </MudText>
</MudItem>
<MudItem xs="12" lg="6" xl="6">
    <MudText Typo="Typo.h2">
   Performance
    </MudText>
    <MudText Typo="Typo.body1">
        One of the biggest drawback of web assembly is that is somewhat slow, as it compiles in the browser. I will continue to attempt to optimize this website. Some thing i have done are:
    </MudText>

    <MudList T="string">
        <MudListItem>Removed CDN where possible</MudListItem>
        <MudListItem>Trying to remove unused CSS where possible (as removing entire libraries that are not in use, why was bootstrap here??)</MudListItem>
        <MudListItem>Optimize Items</MudListItem>
    </MudList>
    <MudText>As of most places have ok - connection, i think it is a ok solution. and who doesnt have som kind of cache in the website anyways.</MudText>
</MudItem>
<MudItem xs="12" lg="6" xl="6">
    <MudText Typo="Typo.h2">
        Deploying in many ways.
        <!--webhook test-->
    </MudText>
    <MudText Typo="Typo.body1">As webassembly compiles to a static website in this context, i could have used many different ways to deploy the initial static website, so i decided to use Cloudflare pages, but as long as it can use a build script i should be good! But i like to have things in one place. This is the place where i have my domain, my mail forwarding thing. And of course there is a lot of different benefits to have your website inside the cloudflare network. With things like DDOS protection, extremly good security and all the other spice is of course really nice!</MudText>
</MudItem>
<MudItem xs="12" lg="6" xl="6">
    <MudText Typo="Typo.h2">The gigantic JSON object</MudText>
    <MudText Typo="Typo.body1">
        for a couple of weeks i have been fighting with a huge <abbr title="Javascript Object Notation">json</abbr> object. 
        The object i am talking about is of course the live CVE feed that are under the <a href="/cybersec">cybersecurity</a> tab. The first challenge was to map this to a existing 
        <abbr title="Data Transfer Object">DTO</abbr>. This would be essential for me to load the object as i wanted. The next steps is to figure out how i could use the same search for the same index every single time,
        and of course to map the different filters for all the different kinds of search. After a couple of weeks fighting with this, we manages to have something usefull.
    </MudText>
</MudItem>
<MudItem xs="12" lg="6" xl="6">
    <MudText Typo="Typo.h2">It is not only sunshine and lolipops</MudText>
    <MudText Typo="Typo.body1">Things are not only great with new technologies, as there are drawbacks to almost everything, in this section there are some drawbacks mentioned.</MudText>
    <MudText Typo="Typo.h3">Some downsites</MudText>
    <MudText Typo="Typo.body1">The main bad thing is the fact that we can only show for 90 days, and just search for 90 days. This is a bigger project that i want to fix as fast as possible.</MudText>
    <MudText Typo="Typo.h3">The use of cve api</MudText>
    <MudText Typo="Typo.body1">The API for NIST CVE is a good standard, for now. There are benefits and downsides of trusting american insitutions.
        The main issue in the MAGA america is to use an American standard. This could be dangours, as certain political figures want to challenge democratcy.
        In the long run i want to change this to the new european CVE standard. However, the apis there are still not the greatest, so i go for the NIST one for now.</MudText>
</MudItem>
<MudItem xs="12" lg="6" xl="6">
    <MudText Typo="Typo.h2">What's next?</MudText>
    <MudText Typo="Typo.body1">To be honset, i am not sure yet. <a href="https://github.com/dylanaraps">I might go farming</a>.
        Right now i am certain that i need to focus becoming the best cybersecurity professional. At least that is the plan, but plans can change, always. 
        I want to create a  living by beeing able to rant about bad password policies, find people trying to exploit people. The people with knowlegde should protect those who do not have it, you know.
        And oh boy, i want to learn! Learn a lot, and i know that i will be able to do that!</MudText>
</MudItem>
</MudGrid>
<MudAlert Severity="Severity.Info">
    If you see anything on this site, please open a Issue in the
    <a href="https://github.com/jpwiig/jpwiig.dev/issues">
        <u>github repository</u>
    </a>, and will take a look as fast as i can!
</MudAlert>
>
@code {
}