@page "/whoami"


<MudPaper MaxWidth="225px"><MudText Typo="Typo.h3" class="intro">$ whoami</MudText></MudPaper>

<MudGrid Justify="Justify.FlexStart" Spacing="2">
    <MudItem xs="6">
        <!-- epic qoute!--> 
        <MudPaper Elevation="0" Square="true">
            <MudText Typo="Typo.h4">A place a little south, and some west of Oslo</MudText>
        </MudPaper>
        <MudPaper Elevation="0" Square="true">
            <MudText Typo="Typo.body1">There was a guy, me! My name is Jon Petter Wiig (call me Jon Petter or Petter, NOT Jon). I am a 23 years old fullstack developer that enjoys a new challenge everywhere. I like to say that i am as versatile as the potato. I can do almost everything with enough time and resources. I like to work out, engage in voluntary work. To interact with both professional in the IT field, and to learn even more about development and other adventures about the IT world. I can also be found at places like hackeriet or at OsloMet from time to time</MudText>
        </MudPaper>
    </MudItem>  
    <MudItem xs="6">
        <!-- a image of me !-->
        <MudImage Src="/pictures/profilproff-cropped.jpeg" Alt="Picture of me during standing by a poster" Class="rounded-lg" Width="400" />
        
    </MudItem>
    <MudItem xs="6">
        <!-- quick info about me !-->
        <MudText Typo="Typo.h4">Some fun facts</MudText>
        <MudList T="string">
            <MudListItem>I have ran an half marathon in two hours</MudListItem>
            <MudListItem>I have been working as a teachers assistant for many years</MudListItem>
            <MudListItem>I have climbed the third highest climbing wall in Norway</MudListItem>
            <MudListItem>I got multiple first blood (first one to solve it) on OsloCTF own CTF challenge</MudListItem>
            <MudListItem>I am from the same place that the person who invented CSS is from</MudListItem>
        </MudList>
    </MudItem>
    <MudItem xs="6">
        <!-- what i want to do !-->
        <MudText Typo="Typo.h4">What i like to do more of</MudText>
        <MudList T="string">
            <MudListItem>To learn</MudListItem>
            <MudListItem>To join more CTF to learn more</MudListItem>
            <MudListItem>Have way to much fun</MudListItem>
        </MudList>
    </MudItem>
    <MudItem>
        <!-- Ways to reach out!-->
        <MudText Typo="Typo.body2">Any questions? Reach out!</MudText>
        <MudText Typo="Typo.body2"><a href="mailto:echo@jpwiig.dev">echo@jpwiig.dev</a></MudText>
    </MudItem>
    
</MudGrid>
@code {
    //todo: whoami animation, terminal inspired
    //todo Maps and shit
}